@{
    ViewBag.Title = "Confirmation";
    Layout = "~/Views/Shared/_Master3.cshtml";
}

<div class="divCentral" style="width: 70%;">
    <img src="~/Images/Upload/emailconfirmarcadastro1.png" />
    <br />
    <br />
    <a class="btn btn-primary btn-large" href="/home/index">Voltar</a>
</div>
