@{
    ViewBag.Title = "MixturaViagem";
}


<div class="jumbotron">
    <h2>Mixtura Viagem</h2>
    <p>Fala galera, tudo junto e mixturado?</p>
    <p>Está afim de ir para a final do 2º SPLIT do CBLOL, mas não sabe como ir?</p>
    <p>Seus problemas acabaram! rs</p>
    <p>A Mixturados irá realizar uma caravana épica e você não vai querer ficar de fora dessa.</p>
    <p>Você irá viajar com todo conforto e só vai se preocupar em curtir o evento, e tudo isso com um pacote imperdível. Nosso pacote inclui a passagem de ida e de volta, hospedagem e ingresso do CBLOL, ahh também durante a viagem realizaremos sorteios de BRINDES ESPECIAIS.</p>

    <div>
        <!-- INICIO FORMULARIO BOTAO PAGSEGURO -->
        <form action="https://pagseguro.uol.com.br/checkout/v2/cart.html?action=add" method="post">
            <!-- NÃO EDITE OS COMANDOS DAS LINHAS ABAIXO -->
            <input type="hidden" name="itemCode" value="2C266F4D9C9C363DD4A89FB665D68C8D" />
            <input type="image" src="https://p.simg.uol.com.br/out/pagseguro/i/botoes/pagamentos/209x48-comprar-azul-assina.gif" name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
        </form>
        <!-- FINAL FORMULARIO BOTAO PAGSEGURO -->
    </div>

</div>
