@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Master3.cshtml";
}

<div style="color: #f87e00" class="jumbotron">    
    <h1>Contatos</h1>
    <p>Email: contato@mixturadoslol.com.br</p>
    <p><a href="https://www.facebook.com/mixturadoslol">Facebook: https://www.facebook.com/mixturadoslol </a></p>
    <p><a href="https://twitter.com/mixturadoslol">Twitter: https://twitter.com/mixturadoslol </a></p>

    <h1>Agradecimentos</h1>
    <h2>Líder e desenvolvedor</h2>
    <p>Arthur de Oliveira</p>
    <br />
    <h2>Desenvolvimento</h2>    
    <p>André Sampaio</p>
    <p>Arthur de Souza Gomes</p>
    <p>Eduardo Munstein</p>
    <br />
    <h2>Design</h2>
    <p>Douglas Souza</p>
    <p>Enzo Dornellas</p>

    <h1>Termos legais</h1>
    <h2>Riot</h2>
    <p>MixturadosLol isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.</p>


</div>