@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>temp</title>
</head>
<body>
    <div>
        <form action="/home/TempIn" method="POST">
            <label>login</label>
            <input type="text" name="txtLogin" />
            <label>senha</label>
            <input type="password" name="txtSenha" />
            <input type="submit" />
        </form>
    </div>
</body>
</html>
