@{
    ViewBag.Title = "vakinha";
}

<div class="jumbotron">
    <h2>Vakinha Mixturados</h2>
    <p>
        Fala galera, tudo junto e mixturado? Temos novidades para vocês. Hoje financeiramente a Mixturados não recebe nada para se manter no mercado e evoluir, porém, mesmo assim com dedicação chegamos a conseguir patrocínio para premiação de um de nossos campeonatos. A empresa tem um potencial enorme de crescimento no cenário de games, e para isso contamos com a sua ajuda! Além de gastos fixos mensais que temos, também iremos investir em qualidade. Uma ajuda simbólica, porém, essencial, a partir de R$10,00 mensais já seria suficiente para ajuda a empresa a crescer. Podemos contar com sua ajuda? Att, Mixturados
    </p>
    <a class="btn btn-success btn-large" href="https://www.vakinha.com.br/vaquinha/projeto-mixturados">Apoiar!</a>
</div>
