@{
    ViewBag.Title = "confirmed";
    Layout = "~/Views/Shared/_Master.cshtml";
}

<div class="jumbotron">
    <p>Obrigado por requerer o serviço de otimização da Iniciativa NoLag, seu atendimento ocorrerá o mais breve possível.</p>

    <p>Por favor utilize o botão abaixo para efetuar o pagamento.</p>

    <!-- INICIO FORMULARIO BOTAO PAGSEGURO -->
    <form action="https://pagseguro.uol.com.br/checkout/v2/payment.html" method="post">
        <!-- NÃO EDITE OS COMANDOS DAS LINHAS ABAIXO -->
        <input type="hidden" name="code" value="457145ABDADAAA0114E6FF834CBD43DC" />
        <input type="image" src="https://p.simg.uol.com.br/out/pagseguro/i/botoes/pagamentos/209x48-pagar-laranja-assina.gif" name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
    </form>
    <!-- FINAL FORMULARIO BOTAO PAGSEGURO -->
    <br />
    <p>A Mixturados em conjunto com a Iniciativa NoLag oferece condições de parcelamento do serviço de suporte remoto. Confira os valores abaixo:</p></b><br />
    <p>Parcelamento em 2x: R$ 80,00 - R$ 40,00 por parcela.</p></b>
    <!-- INICIO FORMULARIO BOTAO PAGSEGURO -->
    <form action="https://pagseguro.uol.com.br/checkout/v2/payment.html" method="post">
        <!-- NÃO EDITE OS COMANDOS DAS LINHAS ABAIXO -->
        <input type="hidden" name="code" value="439E11CC797935A444EC4FBD6562B39C" />
        <input type="image" src="https://p.simg.uol.com.br/out/pagseguro/i/botoes/pagamentos/209x48-pagar-azul-assina.gif" name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
    </form>
    <!-- FINAL FORMULARIO BOTAO PAGSEGURO -->
    <br />

    <p>Parcelamento em 3x: R$ 90,00 - R$ 30,00 por parcela.</p></b>
    <!-- INICIO FORMULARIO BOTAO PAGSEGURO -->
    <form action="https://pagseguro.uol.com.br/checkout/v2/payment.html" method="post">
        <!-- NÃO EDITE OS COMANDOS DAS LINHAS ABAIXO -->
        <input type="hidden" name="code" value="FFEF48F56D6D62622428DFA16C3CE843" />
        <input type="image" src="https://p.simg.uol.com.br/out/pagseguro/i/botoes/pagamentos/209x48-pagar-cinza-assina.gif" name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
    </form>
    <!-- FINAL FORMULARIO BOTAO PAGSEGURO -->
    <br />

    <p>Parcelamento em 4x: R$ 100,00 - R$ 25,00 por parcela.</p></b>
    <!-- INICIO FORMULARIO BOTAO PAGSEGURO -->
    <form action="https://pagseguro.uol.com.br/checkout/v2/payment.html" method="post">
        <!-- NÃO EDITE OS COMANDOS DAS LINHAS ABAIXO -->
        <input type="hidden" name="code" value="6EF779D4CDCD7D91146F1FA8A076ADCD" />
        <input type="image" src="https://p.simg.uol.com.br/out/pagseguro/i/botoes/pagamentos/209x48-pagar-roxo-assina.gif" name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
    </form>
    <!-- FINAL FORMULARIO BOTAO PAGSEGURO -->
</div>
