@{
    ViewBag.Title = "Index";
}

@model ProjetoLeLol.ViewModel.MatcherVM

<div class="jumbotron">
    <h2>Times que procuram jogadores</h2>

    <table class="table table-bordered" id="tblTeams" style="color: #939393; background-color: white">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Tag</th>
                <th>Criada em</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var t in Model)
            {
                <tr>
                    <td>@t.Name</td>
                    <td>@t.Tag</td>
                    <td>@t.DateCreated.ToString("dd/MM/yyyy")</td>
                    <td>
                        <button class="btn btn-primary btn-large" name="@t.Id" title="Visualizar"><i class="fa fa-eye"></i></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
